<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Dettagli della Materia</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>NOME MATERIA:</strong> {{dettaglioMateria?.nome_materia}}</li>
              <li class="list-group-item"><strong>DESCRIZIONE:</strong> {{dettaglioMateria?.descrizione}}</li>
              <li class="list-group-item"><strong>CFU:</strong> {{dettaglioMateria?.CFU}}</li>
              <li class="list-group-item"><strong>MEDIA VOTI:</strong> {{dettaglioMateria?.media_voti}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <hr>
  
    <h1 class="mb-4">Recensioni</h1>
    <div class="card">
      <div class="card-body">
        <div *ngFor="let recensione of dettaglioMateria?.recensioniMateria" class="mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <div><strong>{{recensione.username}}</strong><span class="badge bg-primary rounded-pill">{{recensione.Voto.toFixed(0)}}/5</span></div>
          </div>
          <div>{{recensione.testo}}</div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  
  
  