<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UNICAM REVIEW</title>
  </head>
<body>
    <div class="header bg-primary text-white text-center py-5">
        <h1 class="fw-bold">UNICAM REVIEW</h1>
        <h5 class="fw-bold">Tutte le statistiche e recensioni dell'Università UNICAM di Camerino</h5>
      </div>

  <div class="container mt-5">
    <div class="row row-cols-2 g-4">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">NUMERO CORSI</h5>
            <p class="card-text">{{stats.numero_corsi}}</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">VOTO MEDIO CORSI</h5>
            <p class="card-text">{{stats.voto_medio_corsi}}</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">VOTO MEDIO MATERIE</h5>
            <p class="card-text">{{stats.voto_medio_materie}}</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">N. RECENSIONI CORSI</h5>
            <p class="card-text">{{stats.numero_recensioni_corsi}}</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">N. RECENSIONI MATERIE</h5>
            <p class="card-text">{{stats.numero_recensioni_materie}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

 </body>

